# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
# Ignore the entire data directory by default - use ! to un-ignore specific files
data/

# Specific data/output folders
data/logs/
data/viz/
data/risk_model
data/trained_models/
data/experiment_results/
*.pt
*.pth

# PyTorch specific
.pt
.pth
*.tar

# Jupyter Notebooks
.ipynb_checkpoints
*.ipynb

# Distribution / packaging
.Python
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject 